body{
    background-color: rgb(250, 250, 250);
    
}
.container{
    display: flex;
    flex-direction: column
}
.info{
    display: flex;
    
}
#selectBody{
    display: none;
}
#regAlert{
    display: none;
    text-align: center;
    background-color: greenyellow;
    opacity: 0.5;
    border: 1px green solid;
    padding: 20px 60px;
    border-radius: 20px;

}
#regFalseAlert{
    display: none;
    text-align: center;
    font-style: none;
    opacity: 0.7;
    background-color:rgb(44, 44, 44);
    border: 1px red solid;
    padding: 20px 60px;
    border-radius: 20px;
    margin-bottom: 10px;
    color: red;
    
}
#logFalseAlert{
    display: none;
    text-align: center;
    opacity: 0.7;
    background-color:white;
    border: 1px red solid;
    padding: 20px 60px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    color: red;
    width: 30%;
    align-self: center;
    
}
#logo{
    width: 500px;
    height: 400px;
    margin-left: 350px;
}
#patientInfo{
    display: none;
}
.infoPart{
    flex-grow: 1;
    width: 30%;
}
.chart{
    width: 300px;
    height:200px;
}
.floatingButtons{
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.data{
    color:black;
}
.indexBody p{
    margin-bottom: 20px;
}
.model{
    height: 100%;
    width: 40%;
    margin-left: 30px;
    margin-right:0px;
}
.mode2{
    height: 100%;
    width: 70%;
    margin-left: -70px
}
.name{
    margin-top: 50px;
    margin-right:250px;
}
.note{
    padding: 0;
    color: black;
    width: 300px;
    height: 300px;
    text-align: start;
    border-radius: 0 0 20px 20px;
}
.NoteHead{
    border-radius: 20px 20px 0 0;
    color: black;
    background-color: yellow;
    margin: 0;
    padding: 10px;
}
.register input{
    color:black;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.registerBody{
    display: flex;
    justify-content: center;
}
.registerBody #registerButton{
    color:white;
    background-color: white;
    padding: 20px 60px;
    border-radius: 20px;
    background-color:  rgb(44, 44, 44);
    border: 3px white solid;
    margin-bottom: 100px;
    
    
}
#registerButton:hover{

        background-color: white;
        color: black;
}
.regInfo{
    color: white;
    display: flex;
    flex-direction: column;
    margin:100px;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:400px;
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 150%;
}
.postCredit{
    color: aliceblue;
    text-align: center;
    font-style: italic;
    opacity: 0.3;
}
.register hr{

        height:2px;
        border:0px;
        background:rgb(168, 168, 168);
        margin:0px;/*sometimes useful*/

}

.indexBody{
    color:gray;
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px gray;
    margin-top: 30px;
    margin-left: 30px;
}
.loginBody{
    color:gray;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px gray;
    margin-top: 30px;
    margin-left: 30px;

}
.loginButton{
    align-self: center;
    width: 20%;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px gray;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
}
#loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ehridLogIn{
    border: 1px green solid;
    border-radius: 20px;
    width: 50%;
    margin-left: 20px;
}
.inputForm{
    padding:30px;  
    margin-right:100px;  
}
.profilePic{
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.button{
    width: 100px;
    height: 100px;  
    opacity: 0.6;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}
.button:hover {
    opacity: 3.0;
    transition: opacity .22s ease-in-out;
    -moz-transition: opacity .22s ease-in-out;
    -webkit-transition: opacity .22s ease-in-out;
}​